{% extends 'base.html.twig' %}

{% block title %}N°{{ courierId.borderau }}{% endblock %}

{% block body %}

<main class="w-[90%] m-auto">
    <h1 class=" text-xl font-bold italic text-[#25BA00] mb-2">Le suivi n° {{ courierId.borderau }} en detail </h1>
    <section>
        {% for test in statusCourier %}
            <div class="block p-6 bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 mb-4">
                <div class="flex justify-between">
                    <h5 class="mb-2 text-xl font-bold tracking-tight text-[#FF5E1A]">{{ test.date | date('d-m-Y H:i:s') }}</h5>
                    <p class="font-normal text-[#25BA00]">{{test.status ? test.status.etat }}</p>
                </div>
                <div class="flex justify-between">
                    <p>{{ test.courier.type == "1" ? "La letrre" }}
                        {{ test.courier.type == "2" ? "Le colie"}} 
                        à était {{ test.status ? test.status.etat }}
                        {{ test.status ? test.status.etat == "Remise" ? "au facteur" }}
                    </p>
                    <a href="{{ path('app_status_edit', ({ id: test.id })) }}" class="text-blue-800 bg-blue-100 p-2 rounded">Modifier</a>
                </div>
            </div>
        {% endfor %}
    </section>

</main>

{% endblock %}
