{% extends 'base.html.twig' %}

{% block title %}
	Step Post

{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="css/index.css">
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script type="module" src="js/index.js"></script>
{% endblock %}
{% block body %}
	<main>
		<!-- formulaire de recherche de courrier -->
		<section>
			<article>
				<p>
					Suivre votre recommandé
				</p>
				<form id="form">
					<input type="text" id="searchInput" autofocus></form>
			</article>
		</section>
		<!--Affichage du résultat de la recherche-->
		<section id="detailsRecherche"></section>
	<!-- Historique envois -->
	<section>
		<div>
			<h3>
				Statut de vos envois en cours :
			</h3>
			<button>
				+
			</button>
		</div>
		{% for statut in statuts %}
			<article class="courrier" id="{{ statut.courrier.id }}">
				<div>
					<h4 class="date">
						{{ statut.date | date('d/m/Y à H:i') }}
					</h4>
				</div>
				<div>
					<span>
						{% if statut.statut.etat == "distribué" %}
							<p>
								Le destinataire
								{{ statut.courrier.nom }}
								a bien reçu
							</p>
						{% else %}
							{% if statut.statut.etat == "avisé" %}
								<p>
									Le facteur a laissé un avis de passage chez
									{{ statut.courrier.nom }}
								</p>
							{% else %}
								{% if statut.statut.etat == "instancié" %}
									<p>
										Le courrier pour
										{{ statut.courrier.nom }}
										a été laissé à un point de retrait
									</p>
								{% else %}
									{% if statut.statut.etat == "NPAI" %}
										<p>Le destinataire
											{{ statut.courrier.nom }}
											n'habite pas à l'adresse indiquée</p>
									{% else %}
										{% if statut.statut.etat == "retour" %}
											<p>Le courrier pour
												{{ statut.courrier.nom }}
												a été retourné à l'expéditeur</p>
										{% endif %}
									{% endif %}
								{% endif %}
							{% endif %}
						{% endif %}
					</span>
					<span>
						{% if statut.courrier.type == 0 %}
							<p>
								Colis
							</p>
						{% else %}
							<p>
								Lettre
							</p>
						{% endif %}
					</span>
				</div>
				<div id="detailsLivraison"></div>
			</article>
		{% endfor %}
	</section>
	<section></section>
</main>{% endblock %}
